
# Copyright © 2025 Cognizant Technology Solutions Corp, www.cognizant.com.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# END COPYRIGHT

# ***Important Notes***
# This is an example of Agent2Agent (A2A) Protocol implementation in neuro-san
# Before running this agent network, ensure the following:
# - Install dependencies: pip install a2a-sdk crewai
# - Start the A2A server: python server.py
# - Make sure the server port matches the client configuration in coded_tool/a2a_research_report/a2a_research_report.
# - The server code is located at: servers/a2a/server.py


{
    "llm_config": {
        "model_name": "bedrock-us-claude-sonnet-4",
    },
    "tools": [
        # This first agent definition is regarded as the "Front Man", which
        # does all the talking to the outside world/client.
        #
        # Some disqualifications from being a front man:
        #   1) Cannot use a CodedTool "class" definition
        #   2) Cannot use a Tool "toolbox" definition
        #
        # Besides the first agent being the front man, these tool definitions
        # do not have to be in any particular order. How they are linked and
        # call each other is defined within their own specs.
        # This could be a graph, potentially even with cycles.
        {
            "name": "topic_identifier",

            # Note that there are no parameters defined for this guy's "function" key.
            # This is the primary way to identify this tool as a front-man,
            # distinguishing it from the rest of the tools.

            "function": {
                "description": "Provide the user with report from A2A server that run crewAI.",
            },

            "instructions": """Identify the topic from the user's query, use your tool to generate a report on that topic, and return the report to the user.""",
            "tools": ["research_report_crew"]
        },

        # This coded tool is an A2A client connecting to an A2A server running crewAI.
        {
            "name": "research_report_crew",
            "function": {
                "description": "Return bullet points on a given topic",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "topic": {
                            "type": "string",
                            "description": "Topic to do research on."
                        }
                    },
                    "required": ["topic"]
                }
            },
            "class": "a2a_research_report.A2aResearchReport"
        },
    ]
}
