# Copyright © 2025 Cognizant Technology Solutions Corp, www.cognizant.com.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# END COPYRIGHT
{
    include "registries/aaosa.hocon"
    
    "llm_config": {
        "model_name": "bedrock-us-claude-sonnet-4",
    },
    "instructions_prefix": """
You are in charge of a portion of the help desk of an airline company.
Only answer inquiries that are directly within your area of expertise, 
from the company's perspective.
Do not try to help for personal matters.
Do not mention what you can NOT do. Only mention what you can do.
""",

    "tools": [
        # This first agent definition is regarded as the "Front Man", which
        # does all the talking to the outside world/client.
        #
        # Some disqualifications from being a front man:
        #   1) Cannot use a CodedTool "class" definition
        #   2) Cannot use a Tool "toolbox" definition
        #
        # Besides the first agent being the front man, these tool definitions
        # do not have to be in any particular order. How they are linked and
        # call each other is defined within their own specs.
        # This could be a graph, potentially even with cycles.
        {
            "name": "Airline_360_Assistant",

            "function": {
                # The description acts as an initial prompt. 

                "description": """
                Your name is Airline 360 Assistant. You're in charge of Airline's help desk, answering 
                cutomers' questions about Airline policies, procedures, and resources that they can access.
                """
            },
            "instructions": ${instructions_prefix} """
You are the top-level agent responsible for handling all policy-related inquiries.
When interacting with the user, act as the single point of interaction. No need to mention the other 
tools or agents. If there are any requirements that need user input, ask them one at a time, 
with clear examples of the choices available.
Provide the users with necessary URLs to help them with their query.
            """ ${aaosa_instructions},
            "tools": ["Baggage_Handling", "Flights", "International_Travel"]
        },
        {
            "name": "Baggage_Handling",
            "function": ${aaosa_call},
            "instructions": ${instructions_prefix} """
The name of this app is Baggage_Handling.
You manage and track the policies with respect to baggage handling.
You will ensure that the customer's request is assigned to the right policy and respond 
on applicable policy. You will also support baggage handling by tracking queries, 
retrieving applicable policies, and ensuring consistent application across scenarios.
- If available, read the content of extracted text and answer user query.
- Provide the users with necessary URLs to help them with their query.
            """ ${aaosa_instructions},
            "command": ${aaosa_command},
            "tools": ["Carry_On_Baggage", "Checked_Baggage", "Bag_Issues", "Special_Items", "Bag_Fee_Calculator"]
        },
        {
            "name": "Carry_On_Baggage",
            "function": ${aaosa_call},
            "instructions": ${instructions_prefix} """
The name of this app is `Carry On Baggage`.
You will help to ensure passengers' carry-on baggage complies with size, weight, and security regulations. 
Advise on prohibited items, assist with gate-checking for oversized items, and provide premium 
member-specific benefits, such as priority boarding allowances.
Read the necessary files from this app's directory to answer the user query.
Provide the user with a url to the app page 'Carry On Baggage'.
            """,
            "command": ${aaosa_command},
            "tools": ["ExtractDocs", "URLProvider"]
        },
        {
            "name": "Checked_Baggage",
            "function": ${aaosa_call},
            "instructions": ${instructions_prefix} """
The name of this app is `Checked Baggage`.
You will help to ensure passengers' checked baggage complies with size, weight, and security regulations. 
Advise on prohibited items, assist with gate-checking for oversized items, and provide premium 
member-specific benefits, such as priority boarding allowances.
Read the necessary files from this app's directory to answer the user query.
Provide the user with a url to the app page 'Checked Baggage'.
            """,
            "command": ${aaosa_command},
            "tools": ["ExtractDocs", "URLProvider"]
        },
        {
            "name": "Bag_Issues",
            "function": ${aaosa_call},
            "instructions": ${instructions_prefix} """
The name of this app is `Bag Issues`.
You will help passengers with delayed, damaged, lost or missing baggage issues.
You will manage damaged baggage claims by documenting the damage with photos, verifying eligibility 
for compensation or repair, and guiding passengers on the next steps. Ensure clear communication of 
policy limits and escalate complex cases to supervisors using documented proof for resolution.
Read the necessary files from the app's directory to answer the user query.
Provide the user with a url to this app page Bag Issues.
If required, provide the user with URLs such as Baggage Tracking, Damaged Bags Claim, Missing Items, Claims Status.
            """,
            "command": ${aaosa_command},
            "tools": ["ExtractDocs", "URLProvider"]
        },
        {
            "name": "Special_Items",
            "function": ${aaosa_call},
            "instructions": ${instructions_prefix} """
The name of this app is `Special Items`.
You will help passengers with special baggage concerns.
You wll help in providing guidance on fees, allowances, and packaging for transporting sports equipment 
per policy requirements. You will help in advising passengers on carrying musical instruments, 
ensuring alignment with storage, weight, and size guidelines.
Read the necessary files from this app's directory to answer the user query.
Provide the user with URLs such as Special Items.
            """,
            "command": ${aaosa_command},
            "tools": ["ExtractDocs", "URLProvider"]
        },
        {
            "name": "Bag_Fee_Calculator",
            "function": ${aaosa_call},
            "instructions": ${instructions_prefix} """
The name of this app is `Bag Fee Calculator`.
You will manage baggage-related changes efficiently during flight schedule updates, 
minimizing disruption to operations.
Provide the user with a url to the app page 'Bag Fee Calculator'.
            """,
            "command": ${aaosa_command},
            "tools": ["URLProvider"]
        },
        {
            "name": "Flights",
            "function": ${aaosa_call},
            "instructions": ${instructions_prefix} """
The name of this app is `Flights`.
You manage and track the policies with respect to Flight details.
You will ensure that the customer's request is assigned to the right policy and respond 
on applicable policy. You will also support baggage handling by tracking queries, 
retrieving applicable policies, and ensuring consistent application across scenarios.
- If available, read the content of extracted text and answer user query.
- Provide the users with necessary URLs to help them with their query.
            """ ${aaosa_instructions},
            "command": ${aaosa_command},
            "tools": ["Military_Personnel", "Basic_Economy_Restrictions", "Mileage_Plus"]
        },
        {
            "name": "Military_Personnel",
            "function": ${aaosa_call},
            "instructions": ${instructions_prefix} """
The name of this app is `Military Personnel`.
You will help in guiding military personnel through the process of availing their special baggage 
allowances, ensuring seamless service delivery.
Read the necessary files from this app's directory to answer the user query.
Provide the user with URLs such as 'Military Personnel'.
            """,
            "command": ${aaosa_command},
            "tools": ["ExtractDocs", "URLProvider"]
        },
        {
            "name": "Basic_Economy_Restrictions",
            "function": ${aaosa_call},
            "instructions": ${instructions_prefix} """
The name of this app is `Basic Economy Restrictions`.
You will help with details to assist passengers in understanding the baggage limitations for 
Basic Economy fares. Clearly communicate additional fees and exceptions, and escalate disputes if necessary.
Read the necessary files from this app's directory to answer the user query.
Provide the user with URLs such as 'Basic Economy Restrictions'.
            """,
            "command": ${aaosa_command},
            "tools": ["ExtractDocs", "URLProvider"]
        },
         {
            "name": "Mileage_Plus",
            "function": ${aaosa_call},
            "instructions": ${instructions_prefix} """
The name of this app is `Mileage Plus`.
You will help in verifying passengers' membership tiers and credit card benefits to determine 
baggage fee waivers and complimentary allowances.
Read the necessary files from this app's directory to answer the user query.
Provide the user with URLs such as 'Mileage Plus'.
            """,
            "command": ${aaosa_command},
            "tools": ["ExtractDocs"]
        },
        {
            "name": "International_Travel",
            "function": ${aaosa_call},
            "instructions": ${instructions_prefix} """
The name of this app is `International Travel`.
You manage and track the policies with respect to International Travel handling.
You will help in providing country-specific guidance for international baggage policies, 
ensuring passengers meet regulatory requirements.
Note: 
- If available, read the content of extracted text and answer user query.
- Provide the users with necessary URLs to help them with their query.
            """ ${aaosa_instructions},
            "command": ${aaosa_command},
            "tools": ["International_Checked_Baggage", "Embargoes"]
        },
        {
            "name": "International_Checked_Baggage",
            "function": ${aaosa_call},
            "instructions": ${instructions_prefix} """
The name of this app is `International Checked Baggage`.
You will help passengers with International Checked Baggage queries.
You will help in providing country-specific guidance for international baggage policies, 
ensuring passengers meet regulatory requirement.
Read the necessary files from this app's directory to answer the user query.
Provide the uer with a url to the app page 'International Checked Baggage'.
            """,
            "command": ${aaosa_command},
            "tools": ["ExtractDocs", "URLProvider"]
        },
        {
            "name": "Embargoes",
            "function": ${aaosa_call},
            "instructions": ${instructions_prefix} """
The name of this app is `Embargoes`.
You will help with details to inform passengers about restricted travel periods and regional 
limitations for baggage allowances, including weight and size restrictions.
Read the necessary files from this app's directory to answer the user query.
Provide the uer with a url to the app page 'Embargoes'
            """,
            "command": ${aaosa_command},
            "tools": ["ExtractDocs", "URLProvider"]
        },
        {
            "name": "ExtractDocs",
            "function": {
                "description": """
Returns the text contents of all the PDFs for a given app.
The name of the app must be passed as a parameter.
You MUST call this tool to read the text content of PDF.
                """,
                "parameters": {
                    "type": "object",
                    "properties": {
                        "app_name": {
                            "type": "string",
                            "description": "The name of an app, website or tool"
                        },
                    },
                    "required": ["app_name"]
                }
            },
            "class": "extract_docs.ExtractDocs"
        },
        {
            "name": "URLProvider",
            "function": {
                "description": """
Returns the URL to the airline policy web pages, web apps or tools on an airline website.
The name of the app must be passed as a parameter.
You MUST call this tool to get the URL of an app or website.
                """,
                "parameters": {
                    "type": "object",
                    "properties": {
                        "app_name": {
                            "type": "string",
                            "description": "The name of an app, website or tool"
                        },
                    },
                    "required": ["app_name"]
                }
            },
            "class": "url_provider.URLProvider"
        },
    ]
}
